
body {
    background-color:skyblue;
}

h1{
    background-color:white;
    color: black;
    text-align:center;
}
#linki {
    background-color: lightblue;
    text-align: left;
    font-size: 20 px;
    border-style: dotted;
    height: 100px;
    overflow: scroll;
}

.test {
    border-width:2px;
    border-style:solid;
}

#mp {
    border-width:2px;
    border-style:solid;
    border-color:red;
}

.przycisk {
   border-width:1px;
   border-style:solid;
   border-color:white;
   background-color:skyblue;
   color:black;
   margin: 10px 10px 10px 10px;
   padding: 10px 10px 10px 10px;
   width: auto;
   height: 20px;
   text-align:center;
}

.menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
} 

.menu > ul > li {
    float: left;
}

.menu > ul > li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
